Repository matterpoll/matterpoll, pull requests merged in 2021-10, with the labels that each got.

#397 Update CI
  .circleci/config.yml
Labels: 3. To Review, Docs/Not Needed

#374 Set button color
  server/poll/transform.go
  server/poll/transform_test.go
  webapp/package-lock.json
  webapp/package.json
  webapp/src/components/post_type/action_view/action_button/__snapshots__/action_button.test.jsx.snap
  webapp/src/components/post_type/action_view/action_button/action_button.jsx
  webapp/src/components/post_type/action_view/action_button/action_button.test.jsx
  webapp/src/components/post_type/action_view/action_button/index.js
Labels: Type/Enhancement, 3. To Review, Tech/Server, Tech/Webapp

#381 Downstream mattermost-plugin-starter-template
  .editorconfig
  .golangci.yml
  build/synk/plan.yml
  webapp/package.json
  webapp/src/manifest.test.tsx
  webapp/tests/setup.tsx
Labels: 4. To Release

#382 Add reset-vote button when a poll doesn't have multi votes setting
  assets/i18n/active.en.json
  server/poll/transform.go
  server/poll/transform_test.go
Labels: Type/Enhancement, 4. To Release, Docs/Not Needed, Tech/Server
